{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>MOBAN</title>
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!--webfonts-->
<link href="{% static 'css/download_form.css' %}" rel='stylesheet' type='text/css'>

<!--//webfonts-->
</head>
<body>
	<h1>App Location Form</h1>
		<div class="app-location">
			<h2>Welcome to Locaticus</h2>
			<div class="line"><span></span></div>
			<div class="location"><img src="{% static 'images/location.png' %}" class="img-responsive" alt="" /></div>
			<form action="/login/" method="post">
				{{us.as_p}}
			<!--	<input type="text" name=uf.username class="text" value="Username:" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'E-mail address';}" >
				<input type="password" name=uf.password value="Password" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Password';}">
			-->
				<div class="submit"><input type="submit" onClick="myFunction()" value="Sign in" ></div>
				<div class="clear"></div>
				<div class="new">
					<h3><a href="#">Forgot password ?</a></h3>
					<h4><a href="{% url 'signup' %}">New here ? Sign Up</a></h4>
					<div class="clear"></div>
				</div>
			</form>
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	<!--//end-copyright-->
</body>
</html>
